
<!DOCTYPE html>
<html>
<partial name="_headPartial" />
<body>
    <partial name="_HeaderPartial"/>
    <div>
        @RenderBody()
    </div>






    @RenderSection("Scripts", required: false)
    <partial name="_FooterPartial" />
</body>
</html>


